.inputBox{
    align-self:flex-end;
    padding:0.4rem;
}
.tableElement{
    text-align: center;
}
.searchBox{
    margin-top: 0.4rem;
    display: flex;
    gap: 0.4rem;
}
.searchBoxButton{
    flex: 1;
    align-self: self-end;
}
table
{
    border-collapse: collapse;
}
td{
    padding: 0.4rem;
    border-bottom: 1px solid black;
}