.button{
    padding: 0.4rem 1.6rem;
}
.black{
    border: 1px solid black;
    background-color: white;
}
.yellow{
    border: 1px solid rgb(231, 203, 41);
    color: rgb(231, 203, 41);
    background-color: white;
}
.success{
    border: 1px solid green;
    color: green;
    background-color: white;
}
.primary{
    border: 1px solid  rgb(13, 204, 252);
    color: rgb(13, 204, 252);
    background-color: white;
}